# Default owners
*       @panther-labs/business-platform

# context-data-experience: log source resources
/internal/provider/s3source_resource.go             @panther-labs/context-data-experience
/internal/provider/httpsource_resource.go           @panther-labs/context-data-experience
/internal/provider/pubsubsource_resource.go         @panther-labs/context-data-experience
/internal/provider/gcssource_resource.go            @panther-labs/context-data-experience
/internal/provider/log_source_alarm_resource.go     @panther-labs/context-data-experience
/internal/provider/resource_httpsource/             @panther-labs/context-data-experience
/internal/provider/resource_pubsubsource/           @panther-labs/context-data-experience
/internal/provider/resource_gcssource/              @panther-labs/context-data-experience
/internal/provider/resource_log_source_alarm/       @panther-labs/context-data-experience
/internal/client/types_http.go                      @panther-labs/context-data-experience
/internal/client/types_pubsub.go                    @panther-labs/context-data-experience
/internal/client/types_s3.go                        @panther-labs/context-data-experience
/internal/client/types_gcs.go                       @panther-labs/context-data-experience
/internal/client/types_log_source_alarm.go          @panther-labs/context-data-experience

# detection-threat-hunting-experience: add resource paths here

# alert-response-experience: add resource paths here
