name: Go

on:
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version: 1.23

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3.1.2
      with:
        terraform_version: "1.10.4"

    - name: Check Code Generation
      run: go generate ./... && git diff --exit-code

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
