name: Go

on:
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          checkpoint-api.hashicorp.com:443
          github.com:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          storage.googleapis.com:443
  
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7
      with:
        go-version: 1.19

    - name: Check Code Generation 
      run: go generate ./... && git diff --exit-code

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
