name: Go

on:
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: 1.23

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3.1.2
      with:
        terraform_version: "1.10.4"

    - name: Check Code Generation
      run: go generate ./... && git diff --exit-code

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
